h1{
    text-align: center;
}
body{
  overflow: hidden;
  overflow-y: auto;
}
.animatic {
  animation-duration: 2s;
  animation-name: slidein;
  animation-direction: alternate;
  animation-iteration-count : infinite;
}

@keyframes slidein {
  from {
    margin-left:-35%;
    width:100%
  }
  
  to {
    margin-left:35%;
    width:100%;
  }
}

.fas{
	color: darkgreen;
}

.price{
	text-align: right;

}

div article div p{
	margin-bottom: 0;
}

