{% extends 'base.html.twig' %}

{% block title %}Edit Bien
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Edit Bien</h1>

		{{ include('bien/_form.html.twig', {'button_label': 'Modifier'}) }}
		<div class="row">
			<a class="btn btn-primary my-2" href="{{ path('bien_index') }}">Revenir aux Biens</a>

			{{ include('bien/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
