{% extends 'base.html.twig' %}

{% block title %}Nouveau Bien
{% endblock %}

{% block body %}
	<h1>Ajouter un nouveau Bien</h1>

	{{ include('bien/_form.html.twig') }}

	<a href="{{ path('bien_index') }}">Revenir au biens</a>
{% endblock %}
